<form>
    <div class="form-group">
        <ckeditor [(ngModel)]="model.Content" debounce="500" name="content">
        </ckeditor>
        <label>Tytuł</label>
        <input type="text" class="form-control" placeholder="Tytul" [(ngModel)]="model.Title" name="Title">
        <label>Shorts</label>
        <input type="text" class="form-control" placeholder="Short" [(ngModel)]="model.ShortDescription" name="ShortDescription">
        <label>Kategorie</label>
        <input type="text" class="form-control" placeholder="kategorie" [(ngModel)]="categories" name="Category">
        <label>Tagi</label>
        <input type="text" class="form-control" placeholder="tagi" [(ngModel)]="tags" name="Tag">
    </div>
    <button (click)="addPost()">Dodaj post</button>
</form>
