<div class="panel panel-primary">
    <div class="panel-body">
        <div class='row'>
            <div>
                <a class='btn btn-default col-md-1' [routerLink]="['/addPost']" style="width: 110px margin=20px"> <i class='glyphicon glyphicon-plus'></i>Dodaj Post</a>
            </div>
                 <div class="clearfix"></div>

            <p>Filter by:</p>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' (ngModelChange)="setTitleFilter($event)" />

            </div>
        </div>

        <div class="container" *ngFor='let post of posts | paginate: { itemsPerPage: getPostsOnPageCount(),currentPage:getCurrentPageNumber(),totalItems:getPostCount()}'>

            <div class="well">
                <div class="row">
                    <td>
                        <a [routerLink]="['/post', post.Id]" [innerHtml]="post.Title"></a>
                    </td>
                    <img src="http://www.scru.pl/upload/default.jpg" class="thumbnail" width="304" height="236" />
                </div>
                <p [innerHtml]="post.ShortDescription"></p>
            </div>
        </div>
        <pagination-controls (pageChange)="pageChanged($event)" #api></pagination-controls>
    </div>
</div>