<div class='panel panel-primary' *ngIf='post'>
    <div class='panel-heading' style='font-size:large' [innerHtml]="post.Title">
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-6' [innerHTML]="post.Content"></div>
                </div>
            </div>
        </div>
    </div>

    <div class='panel-footer'>
        <div class="row">
            <a class='btn btn-default' (click)='onBack()'>
                <i class='glyphicon glyphicon-chevron-left'></i>Powrót</a>
            <a class='btn btn-default' [routerLink]="['/editPost', post.Id]">
                <i class='glyphicon glyphicon-pencil'></i>Edytuj</a>
        </div>
    </div>
</div>
<div class="panel panel-default" *ngIf='post'>
    <div class='panel-heading' style='font-size:large'>Komentarze</div>
    <div class="panel-body" *ngFor='let comment of post.Comments'>
        <p [innerHtml]="comment.UserName"></p>
        <h6 class="text-muted time" [innerHtml]="comment.CommentedOn | date:'MM/dd/yyyy @ h:mma'"></h6>
        <p [innerHtml]="comment.CommentText"></p>
        <div class="clearfix"></div>
    </div>
</div>