<div class="container">
    <div class="row">
        <button (click)='openModal()' class="btn btn-primary" data-toggle="modal" >Zaloguj</button>
        <modal #modal>
            <modal-header>
                <h4 class="modal-title">Zaloguj się</h4>
            </modal-header>
            <modal-body>
                        <input type="text" name="userName" id="userName" placeholder="Nazwa użytkownika">
                 
                        <input type="password"  name="user" placeholder="Hasło">
                
                        <button type="submit">Zaloguj</button>                   
            </modal-body>
            <modal-footer>
                Jesteś nowy na stronie?
                <button class="btn btn-primary">Zarejestruj</button>
            </modal-footer>
        </modal>
    </div>
</div>